.background{
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
}

.img{
    height:150px;
    width: 100px;
}

.products{
    display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}

.jumbotron {
    background-color: inherit;
}
.product h1{ font-size: 30px;}
.product p{ font-size: 15px;}
.product{
    display: inline-block;
    margin: 10px;
    border: 5px solid #FAD716;
    padding: 10px;
    width: 245px;
}

.total {
    border: 5px solid #FAD716;
    width: 240px;
    padding: 20px;
}