





        <div class="jumbotron">
            <img class="img" ng-src="{{product.image}}">
            <h1>{{product.name}}</h1>
            <p class="lead">{{product.price | currency  }}.</p>
            <p class="lead">{{product.description}}.</p>
            <p class="lead">{{product.detail}}.</p>
            <p><a class="btn btn-default" href="#" role="button">+ &raquo;</a></p>
            <p><a class="btn btn-default" href="#" role="button">- &raquo;</a></p>
            <p><a class="btn btn-default" href="#/gotoMain" role="button">BACK &raquo;</a></p>
        </div>



