





        <div class="jumbotron">

            <h1>{{chosenProduct.name}}</h1>
            <img class="img" ng-src="{{chosenProduct.image}}">
            <p class="lead">{{chosenProduct.price | currency  }}.</p>
            <p class="lead">{{chosenProduct.description}}.</p>
            <p class="lead">{{chosenProduct.detail}}.</p>

            <button class="btn btn-default" href="#" role="button" ng-click="increaseCounter()"> + </button>
            <button class="btn btn-default" href="#" role="button" ng-click="decreaseCounter()"> - </button>
            <p>{{counter}}</p>

            <p><a class="btn btn-default" href="#/Home" role="button"> HOME </a></p>
            <p><a class="btn btn-default" ng-click="addToCart(chosenProduct.name)" role="button"> ADD IN THE CART  </a></p>

        </div>


