







        <div class="jumbotron">
            <h1>My Cart</h1>

            <div class="jumbotron">
    <div >
        <div ng-repeat="product in cart" >
            <div class="product">
            <p>{{product.name }}  - {{product.quantity}}</p>
            <img class="img" ng-src="{{product.image}}"> <br>
            <p> Total: {{product.total | currency}} </p>


             </div>
        </div>
    </div>

            <div class="product">
            <div ng-repeat="product in cart">
                <li> {{product.name}} = {{product.total | currency}} </li>
            </div></div>
            <br>
            <a class="btn btn-default button" href="#/Home" role="button">HOME  </a>
            <a class="btn btn-default button"  ng-click="FinnishAndPay()" role="button">PAY </a>

  </div>

